In [1]:
from sqlalchemy import create_engine
import pandas as pd

import pickle
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
from datetime import timedelta, datetime

In [2]:
USERNAME = 'postgres.aeootalfoqhilupvmfac'
PASSWORD = 'DP%24s*2nRh%23GP%40CZ!b9g7wG2%26i'
HOST = 'aws-0-eu-central-1.pooler.supabase.com'
PORT = '6543'  # default PostgreSQL port
DATABASE = 'postgres'

In [3]:
#database_url = f"postgresql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

In [4]:
database_url = "postgresql://postgres.aeootalfoqhilupvmfac:DP%24s*2nRh%23GP%40CZ!b9g7wG2%26i@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"

In [5]:
engine = create_engine(database_url)

In [6]:
query = """
SELECT
  *
FROM
  public.trips_2024_07_30
ORDER BY
  tpep_dropoff_datetime DESC;
"""

In [7]:
df = pd.read_sql(query, engine)

In [8]:
df.shape

(76128, 20)

In [9]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,trip_id
0,2,2024-07-30 23:49:15+00:00,2024-07-30 23:59:58+00:00,1.0,2.25,1.0,N,249,246,1,13.5,1.0,0.5,3.70,0.00,1.0,22.20,2.5,0.00,867a5b59-c4ca-4e4b-bbfc-c6484865c87f
1,2,2024-07-30 23:24:54+00:00,2024-07-30 23:59:58+00:00,2.0,19.96,2.0,N,132,236,1,70.0,0.0,0.5,7.00,6.55,1.0,89.30,2.5,1.75,a768f4d7-d0a5-4d93-b55d-f41066bb94ef
2,2,2024-07-30 23:37:12+00:00,2024-07-30 23:59:56+00:00,1.0,3.77,1.0,N,68,263,1,23.3,1.0,0.5,5.66,0.00,1.0,33.96,2.5,0.00,663981f5-c2f6-4716-8d21-34024a40fc71
3,2,2024-07-30 23:23:16+00:00,2024-07-30 23:59:55+00:00,1.0,17.96,2.0,N,132,48,2,70.0,0.0,0.5,0.00,6.55,1.0,82.30,2.5,1.75,4d4a6645-b949-4ece-ad8e-6ed5059892c2
4,1,2024-07-30 23:35:45+00:00,2024-07-30 23:59:55+00:00,1.0,7.00,1.0,Y,125,41,1,32.4,3.5,0.5,9.30,0.00,1.0,46.70,2.5,0.00,0c4ba043-6ff8-4ff8-b1b2-60b6507777eb

In [10]:
cols = ["tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance", "PULocationID", "DOLocationID", "store_and_fwd_flag", "Airport_fee"]

In [11]:
df = df[cols]

In [12]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,store_and_fwd_flag,Airport_fee
0,2024-07-30 23:49:15+00:00,2024-07-30 23:59:58+00:00,2.25,249,246,N,0.00
1,2024-07-30 23:24:54+00:00,2024-07-30 23:59:58+00:00,19.96,132,236,N,1.75
2,2024-07-30 23:37:12+00:00,2024-07-30 23:59:56+00:00,3.77,68,263,N,0.00
3,2024-07-30 23:23:16+00:00,2024-07-30 23:59:55+00:00,17.96,132,48,N,1.75
4,2024-07-30 23:35:45+00:00,2024-07-30 23:59:55+00:00,7.00,125,41,Y,0.00

In [13]:
df['pickup_hour'] = df['tpep_pickup_datetime'].apply(lambda x: x.hour)

In [14]:
df['pickup_minute'] = df['tpep_pickup_datetime'].apply(lambda x: x.minute)

In [15]:
df['pickup_dayofweek'] = df['tpep_pickup_datetime'].apply(lambda x: x.weekday())

In [16]:
df['pickup_dayofmonth'] = df['tpep_pickup_datetime'].apply(lambda x: x.day)

In [17]:
df['trip_time'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).apply(lambda x: x.total_seconds()/60)

In [18]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,store_and_fwd_flag,Airport_fee,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time
0,2024-07-30 23:49:15+00:00,2024-07-30 23:59:58+00:00,2.25,249,246,N,0.00,23,49,1,30,10.716667
1,2024-07-30 23:24:54+00:00,2024-07-30 23:59:58+00:00,19.96,132,236,N,1.75,23,24,1,30,35.066667
2,2024-07-30 23:37:12+00:00,2024-07-30 23:59:56+00:00,3.77,68,263,N,0.00,23,37,1,30,22.733333
3,2024-07-30 23:23:16+00:00,2024-07-30 23:59:55+00:00,17.96,132,48,N,1.75,23,23,1,30,36.650000
4,2024-07-30 23:35:45+00:00,2024-07-30 23:59:55+00:00,7.00,125,41,Y,0.00,23,35,1,30,24.166667

In [19]:
query = """
SELECT
  *
FROM
  public.taxi_zone_lookup;
"""

In [20]:
df_zone = pd.read_sql(query, engine)

In [21]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      N/A          N/A
264         265            N/A           Outside of NYC          N/A

[265 rows x 4 columns]

In [23]:
df_zone['Borough'].value_counts()

Borough
Queens           69
Manhattan        69
Brooklyn         61
Bronx            43
Staten Island    20
EWR               1
Unknown           1
N/A               1
Name: count, dtype: int64

In [24]:
len(df_zone['Zone'].value_counts())

262

In [25]:
df_zone['service_zone'].value_counts()

service_zone
Boro Zone      205
Yellow Zone     55
Airports         2
N/A              2
EWR              1
Name: count, dtype: int64

In [22]:
df = pd.merge(df, df_zone, left_on='PULocationID', right_on='LocationID', how='left')

In [27]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,store_and_fwd_flag,Airport_fee,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time,LocationID,Borough,Zone,service_zone
0,2024-07-30 23:49:15+00:00,2024-07-30 23:59:58+00:00,2.25,249,246,N,0.00,23,49,1,30,10.716667,249,Manhattan,West Village,Yellow Zone
1,2024-07-30 23:24:54+00:00,2024-07-30 23:59:58+00:00,19.96,132,236,N,1.75,23,24,1,30,35.066667,132,Queens,JFK Airport,Airports
2,2024-07-30 23:37:12+00:00,2024-07-30 23:59:56+00:00,3.77,68,263,N,0.00,23,37,1,30,22.733333,68,Manhattan,East Chelsea,Yellow Zone
3,2024-07-30 23:23:16+00:00,2024-07-30 23:59:55+00:00,17.96,132,48,N,1.75,23,23,1,30,36.650000,132,Queens,JFK Airport,Airports
4,2024-07-30 23:35:45+00:00,2024-07-30 23:59:55+00:00,7.00,125,41,Y,0.00,23,35,1,30,24.166667,125,Manhattan,Hudson Sq,Yellow Zone

In [23]:
df = df.rename(columns={'Borough': 'pickup_Borough', 'Zone':'pickup_Zone', 'service_zone':'pickup_service_zone'})

In [24]:
df = df.drop('LocationID', axis=1)

In [25]:
df = pd.merge(df, df_zone, left_on='DOLocationID', right_on='LocationID', how='left')

In [31]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,store_and_fwd_flag,Airport_fee,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time,pickup_Borough,pickup_Zone,pickup_service_zone,LocationID,Borough,Zone,service_zone
0,2024-07-30 23:49:15+00:00,2024-07-30 23:59:58+00:00,2.25,249,246,N,0.00,23,49,1,30,10.716667,Manhattan,West Village,Yellow Zone,246,Manhattan,West Chelsea/Hudson Yards,Yellow Zone
1,2024-07-30 23:24:54+00:00,2024-07-30 23:59:58+00:00,19.96,132,236,N,1.75,23,24,1,30,35.066667,Queens,JFK Airport,Airports,236,Manhattan,Upper East Side North,Yellow Zone
2,2024-07-30 23:37:12+00:00,2024-07-30 23:59:56+00:00,3.77,68,263,N,0.00,23,37,1,30,22.733333,Manhattan,East Chelsea,Yellow Zone,263,Manhattan,Yorkville West,Yellow Zone
3,2024-07-30 23:23:16+00:00,2024-07-30 23:59:55+00:00,17.96,132,48,N,1.75,23,23,1,30,36.650000,Queens,JFK Airport,Airports,48,Manhattan,Clinton East,Yellow Zone
4,2024-07-30 23:35:45+00:00,2024-07-30 23:59:55+00:00,7.00,125,41,Y,0.00,23,35,1,30,24.166667,Manhattan,Hudson Sq,Yellow Zone,41,Manhattan,Central Harlem,Boro Zone

In [26]:
df = df.rename(columns={'Borough': 'dropout_Borough', 'Zone':'dropout_Zone', 'service_zone':'dropout_service_zone'})

In [27]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,PULocationID,DOLocationID,store_and_fwd_flag,Airport_fee,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time,pickup_Borough,pickup_Zone,pickup_service_zone,LocationID,dropout_Borough,dropout_Zone,dropout_service_zone
0,2024-07-30 23:49:15+00:00,2024-07-30 23:59:58+00:00,2.25,249,246,N,0.00,23,49,1,30,10.716667,Manhattan,West Village,Yellow Zone,246,Manhattan,West Chelsea/Hudson Yards,Yellow Zone
1,2024-07-30 23:24:54+00:00,2024-07-30 23:59:58+00:00,19.96,132,236,N,1.75,23,24,1,30,35.066667,Queens,JFK Airport,Airports,236,Manhattan,Upper East Side North,Yellow Zone
2,2024-07-30 23:37:12+00:00,2024-07-30 23:59:56+00:00,3.77,68,263,N,0.00,23,37,1,30,22.733333,Manhattan,East Chelsea,Yellow Zone,263,Manhattan,Yorkville West,Yellow Zone
3,2024-07-30 23:23:16+00:00,2024-07-30 23:59:55+00:00,17.96,132,48,N,1.75,23,23,1,30,36.650000,Queens,JFK Airport,Airports,48,Manhattan,Clinton East,Yellow Zone
4,2024-07-30 23:35:45+00:00,2024-07-30 23:59:55+00:00,7.00,125,41,Y,0.00,23,35,1,30,24.166667,Manhattan,Hudson Sq,Yellow Zone,41,Manhattan,Central Harlem,Boro Zone

In [28]:
df = df.drop(['LocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'store_and_fwd_flag', 'Airport_fee'], axis=1)

In [29]:
df.head()

,trip_distance,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time,pickup_Borough,pickup_Zone,pickup_service_zone,dropout_Borough,dropout_Zone,dropout_service_zone
0,2.25,23,49,1,30,10.716667,Manhattan,West Village,Yellow Zone,Manhattan,West Chelsea/Hudson Yards,Yellow Zone
1,19.96,23,24,1,30,35.066667,Queens,JFK Airport,Airports,Manhattan,Upper East Side North,Yellow Zone
2,3.77,23,37,1,30,22.733333,Manhattan,East Chelsea,Yellow Zone,Manhattan,Yorkville West,Yellow Zone
3,17.96,23,23,1,30,36.650000,Queens,JFK Airport,Airports,Manhattan,Clinton East,Yellow Zone
4,7.00,23,35,1,30,24.166667,Manhattan,Hudson Sq,Yellow Zone,Manhattan,Central Harlem,Boro Zone

In [33]:
df = df.drop(['pickup_Zone', 'dropout_Zone' ], axis=1)

In [37]:
df.head()

,trip_distance,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time,pickup_Borough,pickup_service_zone,dropout_Borough,dropout_service_zone
0,2.25,23,49,1,30,10.716667,Manhattan,Yellow Zone,Manhattan,Yellow Zone
1,19.96,23,24,1,30,35.066667,Queens,Airports,Manhattan,Yellow Zone
2,3.77,23,37,1,30,22.733333,Manhattan,Yellow Zone,Manhattan,Yellow Zone
3,17.96,23,23,1,30,36.650000,Queens,Airports,Manhattan,Yellow Zone
4,7.00,23,35,1,30,24.166667,Manhattan,Yellow Zone,Manhattan,Boro Zone

In [30]:
df = pd.get_dummies(df, columns = ['pickup_Borough', 'pickup_service_zone', 'dropout_Borough', 'dropout_service_zone' ] , drop_first=True)

In [34]:
df.head()

,trip_distance,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,trip_time,pickup_Borough_Brooklyn,pickup_Borough_EWR,pickup_Borough_Manhattan,pickup_Borough_N/A,...,dropout_Borough_EWR,dropout_Borough_Manhattan,dropout_Borough_N/A,dropout_Borough_Queens,dropout_Borough_Staten Island,dropout_Borough_Unknown,dropout_service_zone_Boro Zone,dropout_service_zone_EWR,dropout_service_zone_N/A,dropout_service_zone_Yellow Zone
0,2.25,23,49,1,30,10.716667,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
1,19.96,23,24,1,30,35.066667,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
2,3.77,23,37,1,30,22.733333,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
3,17.96,23,23,1,30,36.650000,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
4,7.00,23,35,1,30,24.166667,False,False,True,False,...,False,True,False,False,False,False,True,False,False,False

In [35]:
df = df.astype(float)

In [36]:
X_cols = [col for col in df.columns if col != 'trip_time']

In [37]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                          max_depth = 5, alpha = 10, n_estimators = 10)

In [56]:
simple_fe_baseline_score = model_selection.cross_val_score(
    xg_reg,
    X = df[X_cols],
    y = df.trip_time,
    cv = 5,
    scoring = 'neg_mean_absolute_percentage_error'
    )

In [57]:
simple_fe_baseline_score.mean(), simple_fe_baseline_score.std()

(-116627938402116.9, 99959049899191.31)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(df[X_cols], df.trip_time, test_size=0.2, random_state=42)

In [40]:
X_train.shape

(60902, 27)

In [43]:
xg_reg.fit(X_train, y_train)

XGBRegressor(alpha=10, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.3, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=5, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=10, n_jobs=None,
             num_parallel_tree=None, ...)

In [44]:
y_pred = xg_reg.predict(X_test)

In [45]:
np.sqrt(mean_squared_error(y_test, y_pred))

32.18838467601833

In [46]:
y_pred[:5]

array([13.747346, 20.549965, 18.47257 , 12.901707, 13.469311],
      dtype=float32)

In [76]:
xg_reg.save_model('model.json')

In [50]:
X_test[:5].to_numpy()

array([[ 1.46, 21.  , 50.  ,  1.  , 30.  ,  0.  ,  0.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,
         1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ],
       [ 4.4 ,  6.  , 39.  ,  1.  , 30.  ,  0.  ,  0.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ],
       [ 2.24,  7.  , 19.  ,  1.  , 30.  ,  0.  ,  0.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ],
       [ 0.72, 22.  , 52.  ,  1.  , 30.  ,  0.  ,  0.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,
         1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ],
       [ 1.01, 22.  , 24.  ,  1.  , 30.  ,  0.  ,  0.  ,  1.  ,  0.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,
         1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ]])

In [48]:
X_test[:5].to_numpy()

In [78]:
X_test.head()

,trip_distance,pickup_hour,pickup_minute,pickup_dayofweek,pickup_dayofmonth,pickup_Borough_Brooklyn,pickup_Borough_EWR,pickup_Borough_Manhattan,pickup_Borough_N/A,pickup_Borough_Queens,...,dropout_Borough_EWR,dropout_Borough_Manhattan,dropout_Borough_N/A,dropout_Borough_Queens,dropout_Borough_Staten Island,dropout_Borough_Unknown,dropout_service_zone_Boro Zone,dropout_service_zone_EWR,dropout_service_zone_N/A,dropout_service_zone_Yellow Zone
7162,1.46,21,50,1,30,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,True
61578,4.40,6,39,1,30,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
60446,2.24,7,19,1,30,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
3377,0.72,22,52,1,30,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,True
5205,1.01,22,24,1,30,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,True